
  <strong>Author:</strong>
  <%= @retweet.tweet.user %>
</p>
<p>
  <strong>Title:</strong>
  <%= @retweet.tweet.user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @retweet.tweet.user %>
</p>


<%= link_to 'Back', root_path %>